@media (max-width: 767px) {

    header {
        width: 480px; 
        height: 75px;
        line-height: 75px;
        border: 1px black solid;
        box-sizing: border-box;
    }
    
    aside {
        width: 480px;
        height: 150px;
        line-height:150px;
        border: 1px black solid;
        box-sizing: border-box;
        margin: auto;
    }
    
    .wing>div {
        width: 480px;
        height: 125px;
        line-height: 125px;
        border: 1px black solid;
        box-sizing: border-box;
        margin: auto;
    }


    .small {
        width: 480px;
        height:500px;
        margin: auto;
        overflow: hidden;
    }
    
    .small>div {
        border: 1px black solid;
        box-sizing: border-box;
        float: left;
        width: 240px;
        height:250px;
        line-height: 250px;
    }

    footer {
        width: 480px;
        height: 80px;
        border: 1px black solid;
        box-sizing: border-box;
        margin: auto;
        clear:right;
        line-height: 80px;
    }
    }
    
    
    @media (min-width:768px) {


    aside {
        width:200px;
        height:600px;
        line-height:600px;
        float: left;
        box-sizing: border-box;
        border: 1px black solid;
    }
    
    .wing {
        width:760px;
        height:200px;
        float: right;
    }
    
    .wing>div {
        width:380px;
        height:200px;
        line-height: 200px;
        float: left;
        box-sizing: border-box;
        border: 1px black solid;
    }
    
    .small {
        width:760px;
        height: 250px;
        float: right;
    }
    
    .small>div {
        width: 190px;
        height: 250px;
        line-height: 250px;
        float: left;
        box-sizing: border-box;
        border: 1px black solid;
    }
    
    footer {
        width:760px;
        height:150px;
        line-height: 150px;
        float: right;
        box-sizing: border-box;
        border: 1px black solid;
    }
    }