@media (max-width: 767px) {
    * {
        background-color: gold;
    }
    body {
        background-color: white;
    }
    section {
        background-color: white;
    }
    
    div {
        vertical-align: middle;
    }

    html {
        background-color: white;
    }
}

@media (min-width: 768px) {
    * {
        background-color: silver;
    }
    body {
        background-color: white;
    }
    section {
        background-color: white;
    }

    html {
        background-color: white;
    }

    div {
        vertical-align: middle;
    }
}
